<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="HospitalDB" 
         connectionString="Server=(localdb)\MSSQLLocalDB;Database=HospitalDB;Trusted_Connection=True;Encrypt=False;TrustServerCertificate=True;" 
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>
